---

---

<section>
  <h1>CANCELADO</h1>
  <p>NO RENOVARON CONTRATO✅</p>
  <textarea id="editor" name="editor" rows="10"> </textarea>
  <button>Good Bye</button>
</section>
<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: white;
  }

  #editor {
    min-width: 300px;
    border: 1px solid #0056b3;
    border-radius: 10px;
    padding: 10px 8px;
  }

  #btnCMB {
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #007bff;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #btnCMB:hover {
    background-color: #0056b3;
  }
</style>
